//Оформлення секції Постійні клієнти

.clients-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$card-set-gap});
  margin-top: calc(-1 * #{$card-set-gap});
}

.clients-section__list-item {
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - #{$card-set-gap});
  }

  //768-1199px
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - #{$card-set-gap});
  }
  //1200px
  @extend %six-in-row-list-item;
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  border: $clients-list-border;
  border-radius: 4px;
  fill: $icon-fill;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__link:hover,
.clients-section__link:focus {
  fill: $accent-color;
  border-color: $accent-color;
}
