//Оформлення головної секції
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: $dark-background-color;

  background-image: linear-gradient($hero-bcg-gradient), url('../img/hero-bcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $primary-white-color;
}
