//формули для вичислення розмірів елементів сіток

@media screen and (min-width: 1200px) {
  //team-section__list-item, feature-section__list-item
  %four-in-row-list-item {
    flex-basis: calc(100% / 4 - #{$card-set-gap});
  }

  //clients-section__list-item
  %six-in-row-list-item {
    flex-basis: calc(100% / 6 - #{$card-set-gap});
  }

  //work-section__list-item, projects-list__item
  %three-in-row-list-item {
    flex-basis: calc(100% / 3 - #{$card-set-gap});
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  %two-in-row-list-item {
    flex-basis: calc(100% / 2 - #{$card-set-gap});
  }
}
