$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bcg-color: #ffffff;
$primary-white-color: #ffffff;
$dark-background-color: #2f303a;
$footer-main-text-color: rgba(255, 255, 255, 0.6);
$secondary-bgc-color: #f5f4fa;
$studio-button-hover: #188ce8;
$projects-border: 1px solid #eeeeee;
$header-border: 1px solid #ececec;
$clients-list-border: 1px solid #afb1b8;
$card-set-gap: 30px;
$icon-fill: #afb1b8;
$close-button-color: #000;
$close-button-border: 1px solid rgba(0, 0, 0, 0.1);
$modal-backdrop-bcg: rgba(0, 0, 0, 0.2);
$footer-accounts-bcg: rgba(255, 255, 255, 0.1);
$footer-form-input-border: 1px solid rgba(255, 255, 255, 0.3);
$work-list-item-title-bcg: rgba(47, 48, 58, 0.8);
$modal-form-field-input-border: 1px solid rgba(33, 33, 33, 0.2);
$projects-thumb-bgc: rgba(33, 150, 243, 0.9);
$hero-bcg-gradient: rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%;
$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$modal-placeholder-text-color: rgba(117, 117, 117, 0.5);
